.img-describe{
    width: 500px;
}

.img-comics{
    width: 200px;
    height: 300px;
}

.comics-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    height: auto;
    overflow: auto;
    gap: 0.5rem;
}

.w-100-comic{
    overflow: hidden;
    position: relative;
}

.img-comics:hover{
    transform: scale(1.1);
    filter: grayscale(0.9);
    transition: all 0.4s;
}

@media only screen and (max-width: 760px){
    .img-describe{
        width: 100%;
    }
}
